<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>InfraTech - Contato</title>
    <link rel="stylesheet" href="maincontato.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>

    <header>
        <div class="header-container">
            <div class="logo-container">
                <a href="../index.html">
                    <img src="../logoTechNator.png" alt="Logo" id="img">
                </a>
            </div>
            <div class="nav-container">
                <div class="nav-item"><a href="../index.html">Quem Somos</a></div>
                <div class="nav-item"><a href="solicitacao.html">Solicitação de Serviços</a></div>
                <div class="nav-item"><a href="contato.html">Contato</a></div>
            </div>
        </div>
    </header>
    

    <section id="instagram">
        <div class="container01">
            <h2>Nosso Perfil No instagram</h2>
            <div class="instagram-profiles">
                <!-- Perfis do Instagram -->
                <div class="profile">
                    <a href="https://instagram.com/pessoa1" target="_blank">
                        <img src="../logosoloTechNator.png" alt="Perfil Pessoa 1">
                        <p>@TechNator</p>
                    </a>
                </div>
                <!-- Repetir para os outros perfis -->
            </div>
        </div>
    </section>
    <section id="instagram">
        <div class="container01">
            <h2>Nosso Telefone Para Contato</h2>
            <div class="instagram-profiles">
                <!-- Perfis do Instagram -->
                <div class="profile">
                    <a href="https://instagram.com/pessoa1" target="_blank">
                        <img src="../celular.png" alt="Perfil Pessoa 1">
                        <p>(31)99433-0335</p>
                    </a>
                </div>
                <!-- Repetir para os outros perfis -->
            </div>
        </div>
    </section>

    <footer>
        <div class="container">
            <p>TechNator® - 2023</p>
        </div>
    </footer>
</body>
</html>
