html, body {
    height: 100%;
    margin: 0;
    font-family: 'Noto Sans', sans-serif;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 10px 20px;
}

header {
    background-color: #333;
    color: #fff;
    height: 95px;

}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul li a:hover {
    background-color: #252525;
    color: #fff;
}
nav ul li {
    margin: 0 10px;
}


nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.1em;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

section {
    flex: 1; /* Makes the main content area expand to fill available space */
    padding: 30px;
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    margin-top: 10px;
}

form input, form textarea {
    padding: 10px;
    margin-top: 5px;
}

form button {
    margin-top: 10px;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}
